@model WhatWeDeliveredFilter
@using GeneralResources = lean.UI.LocalResources.Resource;

<div class="shadow-bordered-div">
    <form id="WhatWeDeliveredFilterForm" data-ajax="true" data-ajax-method="get" url="/WhatWeDelivered/Index" data-target="#whatWeDeliveredList" class="pagination-filter-form p-1">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Name, new { @type = "search", @class = "form-control m-1", @placeholder = GeneralResources.Name })
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Location, new { @type = "search", @class = "form-control m-1", @placeholder = GeneralResources.Location })
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Description, new { @type = "search", @class = "form-control m-1", @placeholder = GeneralResources.Description })
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <button class="btn btn-primary m-1"><i class="fa fa-search"></i>&nbsp;@GeneralResources.Search</button>
                    <button type="button" class="btn btn-secondary m-1" onclick="ResetSearch(this)"><i class="fa fa-redo"></i>&nbsp;@GeneralResources.Reset</button>
                </div>
            </div>
        </div>
    </form>
</div>
