@model ContactUsRequestFilter
@using GeneralResources = lean.UI.LocalResources.Resource;


<div class="shadow-bordered-div">
    <form id="ContactUsRequestFilterForm" data-ajax="true" data-ajax-method="get" url="/ContactUsRequest/Index" data-target="#contactUsRequestList" class="pagination-filter-form p-1">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Email, new { @type = "search", @class = "form-control m-1", @placeholder = GeneralResources.Name })
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    @Html.TextBoxFor(x => x.MobileNumber, new { @type = "search", @class = "form-control m-1", @placeholder = GeneralResources.Phone })
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    @Html.DropDownListFor(x => x.ContactUsReasonId, ViewBag.ContactUsReasons as SelectList, GeneralResources.AllContactUsReasons, new { @type = "search", @class = "form-control m-1", @onchange = "$(this).closest('.pagination-filter-form').submit();" })
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <button class="btn btn-primary m-1"><i class="fa fa-search"></i>&nbsp;@GeneralResources.Search</button>
                    <button type="button" class="btn btn-secondary m-1" onclick="ResetSearch(this)"><i class="fa fa-redo"></i>&nbsp;@GeneralResources.Reset</button>
                </div>
            </div>
        </div>
    </form>
</div>


